<footer class="flex flex-col items-center justify-center h-32 p-5 bg-base-300">
	<p class="inline">
		<strong>Telonet</strong>
		Copyright © {new Date().getFullYear()} - All right reserved
	</p>
</footer>
