---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
import ContentQuery from "../../../components/ContentQuery.astro";
---

<DashboardLayout title="Clientes">
	<section>
		<ContentQuery
			title="Listado de clientes y su nacionalidad"
			query="SELECT nombre, apellido, nacionalidad FROM cliente;"
		/>
	</section>

	<section>
		<ContentQuery
			title="Clientes con más de una reserva"
			query={`SELECT c.nombre, c.apellido, COUNT(r.id_reserva) AS reservas_totales
				FROM cliente c
				JOIN reserva r ON c.id_cliente = r.id_cliente_Cliente
				GROUP BY c.id_cliente
				HAVING reservas_totales > 1;`}
		/>
	</section>

	<section>
		<ContentQuery
			title="Clientes con facturas pendientes"
			query={`SELECT c.nombre, c.apellido
				FROM cliente c
				JOIN reserva r ON c.id_cliente = r.id_cliente_Cliente
				JOIN facturacion f ON f.id_reserva_Reserva = r.id_reserva
				WHERE f.estado = 'Pendiente';`}
		/>
	</section>
</DashboardLayout>
