---
import ClientsLayouts from "../../layouts/ClientsLayout.astro";
import ContentQuery from "../../components/ContentQuery.astro";
---

<ClientsLayouts title="Reservas">
	<main class="flex flex-col items-center w-full mt-5">
		<div class="flex flex-col items-center gap-5 mx-10">
			<h1 class="text-5xl font-bold">Reserva de habitaciones</h1>
			<button class="btn btn-primary" onclick="modal.showModal()"
				>Reservar</button
			>
			<ContentQuery
				title="Habitaciones disponibles"
				query="consulta para obtener la lista de habitaciones disponibles"
			/>
		</div>
	</main>
</ClientsLayouts>
<dialog id="modal" class="modal">
	<div class="modal-box">
		<h3 class="text-lg font-bold">Reservar tu habitación!</h3>
		<p class="py-4">Selecciona tus especificaciones</p>
		<div class="flex flex-col items-center gap-5">
			<input
				type="text"
				placeholder="Indique el código de la habitación"
				class="input input-bordered w-full input-sm"
			/>
			<div class="flex flex-row gap-5">
				<div class="flex flex-col items-start gap-2">
					<h2 class="font-bold text-lg">Fecha de inicio</h2>
					<input
						class="bg-base-300 py-5 rounded-2xl"
						type="date"
						name="fecha_inicio"
						id="fecha_inicio"
					/>
				</div>
				<div class="flex flex-col items-start gap-2">
					<h2 class="font-bold text-lg">Fecha final</h2>
					<input
						class="bg-base-300 py-5 rounded-2xl"
						type="date"
						name="fecha_final"
						id="fecha_final"
					/>
				</div>
			</div>
		</div>
		<div class="modal-action">
			<form method="dialog" class="w-full flex flex-row justify-between">
				<button class="btn btn-error">Cancelar</button>
				<button class="btn btn-primary">Reservar</button>
			</form>
		</div>
	</div>
</dialog>
