---
import MainApp from "./MainApp.jsx";
---

<!-- Cargar la aplicación solo en el cliente -->
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Telo-JR</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div id="root">
			<MainApp client:only="react" />
		</div>
	</body>
</html>
