---
import PromocionesPage from "../../core/pages/PromocionesPage";
---

<html>
	<head>
		<title>Promociones</title>
	</head>
	<body>
		<h1>Promociones Disponibles</h1>
		<div id="promociones">
			<PromocionesPage />
		</div>
	</body>
</html>
