---
import ReservaActividadpage from "../../core/pages/ReservaActividadPage";
---

<html>
	<head>
		<title>Reserva Actividad</title>
		<link rel="stylesheet" href="/styles/ContentStyles.css" />
	</head>
	<body>
		<div id="reserva-actividad-root">
			<ReservaActividadpage />
		</div>
	</body>
</html>
