---
import ReservaActividadP from "../components/ReservaActividadPage.jsx";
---

<html>
    <head>
        <title>Reserva Actividad</title>
        <link rel="stylesheet" href="/styles/ContentStyles.css" />
    </head>
    <body>
        <div id="reserva-actividad-root">
            <ReservaActividadP />
        </div>
    </body>
</html>
