---
import ReservaPage from "./components/ReservasPage.jsx";
---

<html>
	<head>
		<title>Tus Reservas</title>
		<link rel="stylesheet" href="/styles/ContentStyles.css" />
	</head>
	<body>
		<div id="reserva-root">
			<ReservaPage />
		</div>
	</body>
</html>
