---
import ServiciosPage from "../components/ServiciosPage.jsx";
---

<html>
    <head>
        <title>Servicios</title>
    </head>
    <body>
        <h1>Servicios Disponibles</h1>
        <div id="servicios">
            <ServiciosPage />
        </div>
    </body>
</html>
